@media only screen and (max-width: 600px) {
.moodContainer {
    background-color: #E1998A;
    font-family: var(--font-poppins);
    margin-top: 20vw;
    color: white;
    border-radius: 4;
    
}

.emoji{
    height:40px;
    width: 40px;
}
label {
    font-size: 14px;
}
legend{
    width: 200px;
    padding: 4px;
    margin-left: calc(50% - 100px - 2px);
    margin-top: 18vw;
    background-color: var(--light-grey);
    border-style: double;
    border-radius: 4%;
    border-width: 6px;
    color: #443D67;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 1em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 6px;
    border-style: groove;
    border-radius: 8%;
}
/* estilo de letras tamano de emojis */
}